{# empty Twig template #}
{% set params = { 'business_id': business_id } %}
{% set business = callFunction( "Businesses.Businesses.Code.Models.BusinessesModel", 'getBusiness', params ) %}

{% set business_url =  generate_url('businesses.businesses.detail', {'id': business.id}) %}
{% set category_url =  generate_url('businesses.businesses', {'category_id': business.category.id}) %}

<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <tr>
            <th colspan="4"> Business Detail</th>
        </tr>
        <tr>
            <td class="text-center">
                <a href="{{ product_url }}" title="{{ business.name }}">
                    <img src="{{ resized_image(business.logo.file,150,150) }}" alt="{{ business.name }}" title="{{ business.name }}"/>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-left">
                <label>Name:</label> <a href="{{ business_url }}" title='{{ business.name }}'>{{ business.name }}</a><br>
                <label>Location:</label> {{ business.country.name }}{{ business.location.name }}{{ business.city }}<br>
                <label>Category:</label> <a href="{{ category_url }}" title='{{ business.category.title }}'>{{ business.category.title }}</a><br>
                <label>Email:</label> {{ business.email|default('-')  }}<br>
                <label>Phone:</label> {{ business.phone|default('-')  }}<br>
                <label>Address:</label> {{ business.address|default('-')  }}<br>
                <label>Website:</label> {{ business.website|default('-')  }}<br>
            </td>
        </tr>
    </table>
</div>